In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps

In [2]:
data = pd.read_csv('TblsvkPrvlk4.csv')
print(data.info())
print(data.describe)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874666 entries, 0 to 1874665
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   device_id   int64
 1   phenomenon  object
 2   value       float64
 3   logged_at   object
 4   value_text  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 71.5+ MB
None
<bound method NDFrame.describe of          device_id   phenomenon   value            logged_at  value_text
0             1651         pm10  236.37  2019-11-28 21:30:15         NaN
1             1651         pm25   58.28  2019-11-28 21:30:15         NaN
2             1651     humidity   93.50  2019-11-28 21:30:15         NaN
3             1651  temperature    2.10  2019-11-28 21:30:15         NaN
4             1651         pm10  238.15  2019-11-28 21:32:46         NaN
...            ...          ...     ...                  ...         ...
1874661       1651  temperature   30.20  2024-09-13 16:21:17         NaN
1874662       1651         pm10    7.10  2024-09-13 16:23:44         NaN
1874663       1651         pm25    5.20  2024-09-13 16:23:44         NaN
1874664       1651     humidity   24.50  2024-09-13 16:23:44         NaN
1874665       1651  temperature   31.95  2024-09-13 16:23:44         NaN

[1874666 rows x 5 columns]>

In [3]:
## convert phenomenons as columns

# data.groupby('phenomenon').apply(list).apply(pd.Series).T
data = data.pivot_table(index=['device_id', 'logged_at'], columns='phenomenon', values='value').reset_index()
print(data)

phenomenon  device_id            logged_at  humidity  is_old    pm10   pm25  \
0                1651  2019-11-28 21:30:15     93.50     NaN  236.37  58.28
1                1651  2019-11-28 21:32:46     93.50     NaN  238.15  57.22
2                1651  2019-11-28 21:40:37     93.50     NaN  293.77  65.50
3                1651  2019-11-28 21:43:04     93.40     NaN  264.45  63.44
4                1651  2019-11-28 21:45:31     93.40     NaN  264.89  63.03
...               ...                  ...       ...     ...     ...    ...
574224           1651  2024-09-13 16:11:31     51.70     NaN    9.03   5.98
574225           1651  2024-09-13 16:13:59     35.00     NaN    8.98   5.86
574226           1651  2024-09-13 16:16:25     32.85     NaN    6.36   5.28
574227           1651  2024-09-13 16:21:17     27.03     NaN    6.60   5.15
574228           1651  2024-09-13 16:23:44     24.50     NaN    7.10   5.20

phenomenon  temperature
0                  2.10
1                  2.10
2                  2.00
3                  1.85
4                  1.85
...                 ...
574224            29.95
574225            33.70
574226            31.70
574227            30.20
574228            31.95

[574229 rows x 7 columns]

In [4]:
data = data.drop(['is_old'], axis=1)
print(data.isnull().values.any())
data[data.isna().any(axis=1)]
data = data.dropna()
data = data.drop(data.columns[0], axis=1, inplace=True)

True

In [5]:
data.to_csv('preprocessed.csv')

In [6]:
data.corr(method='pearson', numeric_only=True)

phenomenon   humidity      pm10      pm25  temperature
phenomenon
humidity     1.000000  0.109668  0.165976    -0.541027
pm10         0.109668  1.000000  0.741881    -0.156153
pm25         0.165976  0.741881  1.000000    -0.211980
temperature -0.541027 -0.156153 -0.211980     1.000000